In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df = pd.read_csv("Downloads/csv_pus/psam_pusa.csv")

In [3]:
df.sample(5)

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
786259,P,2019HU0949414,5,6,3301,3,12,1010145,67,4,...,24,16,60,112,74,28,58,76,26,109
982830,P,2019HU1304575,8,5,200,4,16,1010145,29,15,...,40,33,34,12,8,44,50,8,33,27
137923,P,2019HU0482665,7,1,1400,3,5,1010145,128,70,...,182,105,39,129,125,43,132,203,217,39
1006336,P,2019HU0198682,3,3,3408,2,17,1010145,71,16,...,104,67,57,72,73,126,71,151,69,70
511045,P,2019HU1313613,9,1,8505,4,6,1010145,66,34,...,19,72,69,107,112,16,17,145,59,69

In [4]:
df['DEYE'].value_counts()

2    1616694
1      42114
Name: DEYE, dtype: int64

In [5]:
#removing rows by filtering
df = df[df['DEYE'] != 2]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42114 entries, 35 to 1658764
Columns: 288 entries, RT to PWGTP80
dtypes: float64(85), int64(199), object(4)
memory usage: 92.9+ MB

In [7]:
#choosing the columns with variables needed to answer the questions.
Var_of_int = df.loc[:, ["REGION","DIVISION", "ST", "AGEP", "COW", "DEYE", "NWAV", "NWLA", "NWLK", "SCH", "SCHG", "SCHL", 
           "SEX", "WKL", "DIS", "ESR", "FOD1P", "FOD2P", "HICOV", "INDP", "NAICSP", "OCCP", "PERNP", "PINCP",
          "POWSP", "RAC1P", "RAC2P", "RAC3P", "RACAIAN", "RACASN", "RACBLK", "RACWHT", "SCIENGP", "SCIENGRLP",
          "SOCP", "FDEYEP", "ADJINC", "DDRS", "DEAR", "DOUT", "DPHY", "HINS4", "OIP", "PAP", "RETP", "SEMP", "SSIP", 
         "SSP", "WAGP", "PWGTP"]]
#"BROADBAND", "DIALUP", "HISPEED", "LAPTOP", "OTHSVCEX", "SATELLITE","SMARTPHONE"

In [8]:
#information about the data, type, and non-null values
Var_of_int.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42114 entries, 35 to 1658764
Data columns (total 50 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   REGION     42114 non-null  int64
 1   DIVISION   42114 non-null  int64
 2   ST         42114 non-null  int64
 3   AGEP       42114 non-null  int64
 4   COW        15411 non-null  float64
 5   DEYE       42114 non-null  int64
 6   NWAV       40141 non-null  float64
 7   NWLA       40141 non-null  float64
 8   NWLK       40141 non-null  float64
 9   SCH        41985 non-null  float64
 10  SCHG       3818 non-null   float64
 11  SCHL       41985 non-null  float64
 12  SEX        42114 non-null  int64
 13  WKL        40141 non-null  float64
 14  DIS        42114 non-null  int64
 15  ESR        40141 non-null  float64
 16  FOD1P      6714 non-null   float64
 17  FOD2P      689 non-null    float64
 18  HICOV      42114 non-null  int64
 19  INDP       15411 non-null  float64
 20  NAICSP     15411 non-null  object
 21  OCCP       15411 non-null  float64
 22  PERNP      40141 non-null  float64
 23  PINCP      40367 non-null  float64
 24  POWSP      9475 non-null   float64
 25  RAC1P      42114 non-null  int64
 26  RAC2P      42114 non-null  int64
 27  RAC3P      42114 non-null  int64
 28  RACAIAN    42114 non-null  int64
 29  RACASN     42114 non-null  int64
 30  RACBLK     42114 non-null  int64
 31  RACWHT     42114 non-null  int64
 32  SCIENGP    6714 non-null   float64
 33  SCIENGRLP  6714 non-null   float64
 34  SOCP       15411 non-null  object
 35  FDEYEP     42114 non-null  int64
 36  ADJINC     42114 non-null  int64
 37  DDRS       41841 non-null  float64
 38  DEAR       42114 non-null  int64
 39  DOUT       40367 non-null  float64
 40  DPHY       41841 non-null  float64
 41  HINS4      42114 non-null  int64
 42  OIP        40367 non-null  float64
 43  PAP        40367 non-null  float64
 44  RETP       40367 non-null  float64
 45  SEMP       40367 non-null  float64
 46  SSIP       40367 non-null  float64
 47  SSP        40367 non-null  float64
 48  WAGP       40367 non-null  float64
 49  PWGTP      42114 non-null  int64
dtypes: float64(28), int64(20), object(2)
memory usage: 16.4+ MB

In [9]:
Var_of_int.sample(5)

,REGION,DIVISION,ST,AGEP,COW,DEYE,NWAV,NWLA,NWLK,SCH,...,DPHY,HINS4,OIP,PAP,RETP,SEMP,SSIP,SSP,WAGP,PWGTP
52873,4,9,2,57,NaN,1,5.0,2.0,2.0,1.0,...,1.0,1,0.0,7200.0,0.0,0.0,17300.0,20000.0,0.0,34
1041649,2,3,17,89,NaN,1,5.0,2.0,2.0,1.0,...,2.0,2,0.0,0.0,10100.0,0.0,0.0,19800.0,0.0,108
1390154,3,5,24,82,NaN,1,1.0,2.0,2.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,31
986229,2,3,17,24,NaN,1,5.0,3.0,3.0,1.0,...,2.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96
880270,3,5,13,83,NaN,1,5.0,2.0,2.0,1.0,...,2.0,2,0.0,0.0,9000.0,0.0,0.0,13200.0,0.0,171

In [10]:
Data_working = Var_of_int

In [11]:
Data_working.sample(5)

,REGION,DIVISION,ST,AGEP,COW,DEYE,NWAV,NWLA,NWLK,SCH,...,DPHY,HINS4,OIP,PAP,RETP,SEMP,SSIP,SSP,WAGP,PWGTP
426005,4,9,6,30,1.0,1,5.0,3.0,3.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,20000.0,134
765365,3,5,12,35,1.0,1,5.0,3.0,3.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,31000.0,146
968946,4,8,16,77,NaN,1,3.0,2.0,2.0,1.0,...,1.0,1,0.0,0.0,4800.0,0.0,6000.0,9000.0,0.0,49
1591190,2,4,27,32,3.0,1,5.0,3.0,3.0,1.0,...,2.0,2,0.0,0.0,0.0,0.0,0.0,0.0,60000.0,170
933987,3,5,13,27,1.0,1,5.0,3.0,3.0,1.0,...,2.0,1,500.0,0.0,0.0,0.0,0.0,0.0,10000.0,220

In [12]:
Data_working.to_csv("psam_pusa_data_working.csv")

In [13]:
Data_working["DEYE"].value_counts()

1    42114
Name: DEYE, dtype: int64